<label>{PROPERTY-LABEL}</label>
<input type="text" maxlength="256" placeholder="{PROPERTY-PLACEHOLDER}" id="{OBJECT-NAME-PROPERTY-NAME}" name="{OBJECT-NAME-PROPERTY-NAME}" value="{OBJECT-NAME-PROPERTY-VALUE}" {OBJECT-NAME-PROPERTY-REQUIRED} data-langempty="{LANG-EMPTYGENERIC}"/>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var input = document.getElementById('{OBJECT-NAME-PROPERTY-NAME}');
        if (input.required) {
            input.addEventListener('blur', checkEmpty);
        }
    });
</script>