<ul id="bicubic-table-menu">
    <!-- BEGIN FEATURELINK -->
    <li>
        <a class="{FEATURELINK-CLASS}" href="{FEATURELINK-LINK}">
            {FEATURELINK-NAME}
        </a>
    </li>
    <!-- END FEATURELINK -->
</ul>

<!-- BEGIN SEARCHLINK -->
<form id="bicubic-search-form" action="{SEARCH-ACTION}" method="post">
    <ul id="bicubic-table-search">
        <!-- BEGIN SEARCHLIST -->
        <li>
            <label>{SEARCHLIST-LANG}</label>
            <select id="bicubic-search-{SEARCHLIST-NAME}" name="{SEARCHLIST-NAME}" >
                <option value="">{TEXT-ALL}</option>
                <!-- BEGIN SEARCHLISTOPTION -->
                <option value="{SEARCHLISTOPTION-VALUE}"  data-selected="{SEARCHLISTOPTION-SELECTED}">{SEARCHLISTOPTION-NAME}</option>
                <!-- END SEARCHLISTOPTION -->
            </select>

            <!-- END SEARCHLIST -->
            <!-- BEGIN SEARCHSTRING -->
        <li>
            <label>{SEARCHSTRING-LANG}</label>
            <input id="bicubic-search-{SEARCHSTRING-NAME}" type="text" maxlength="256" name="{SEARCHSTRING-NAME}" value="{SEARCHSTRING-VALUE}" />
        </li>
        <!-- END SEARCHSTRING -->
    </ul>
    <button type="submit" id="submit">{TEXT-SEARCH}</button>
</form>
<!-- END SEARCHLINK -->

<table id="bicubic-table" data-lastid="{TABLE-LASTID}" data-size="{TABLE-SIZE}" data-url="{TABLE-URL}" data-maxsize="{TABLE-MAXSIZE}">
    {TABLE-CONTENT}
</table>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var tableRequest = new XMLHttpRequest();
        var vtable = document.getElementById('bicubic-table');
        var url = vtable.getAttribute("data-url");
        var maxSize = vtable.getAttribute("data-maxsize");
        var tableMore = true;
        document.addEventListener('scroll', function() {
            var lastid = vtable.getAttribute("data-lastid")
            var size = vtable.getAttribute("data-size");
            if (!url || size < maxSize) {
                tableMore = false;
            }
            if (tableMore) {
                var scrollAmount = document.body.scrollHeight;
                var documentHeight = document.body.clientHeight;
                var scrollPercent = (scrollAmount / documentHeight) * 100;
                if (scrollPercent > 80) {
                    if (tableRequest.readyState === 4 || tableRequest.readyState === 0) {
                        tableRequest.open("POST", url);
                        tableRequest.onreadystatechange = function() {
                            if (tableRequest.readyState === 4 && tableRequest.status === 200) {
                                var response = JSON.parse(this.responseText);
                                if (response.status === 'success') {
                                    vtable.innerHTML = vtable.innerHTML + response.data;
                                    vtable.setAttribute("data-lastid", response.lastid);
                                    vtable.setAttribute("data-size", response.size);
                                }
                            }
                        };
                        tableRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        tableRequest.send("lastid=" + lastid);
                    }

                }
            }

        });
    });
</script>
