<!doctype html>
<html lang="{TEMPLATE-LANG}">
    <head>
        <meta charset="utf-8">
        <title>{TEMPLATE-TITLE}</title>
        <link rel="stylesheet" href="templates/common/styles.css">
        <style>
            {TEMPLATE-CSS}
        </style>
    </head>
    <body>
        <p><a href="{LINK-LOGIN}">{LANG-LOGIN}</a></p>
        <p>{LANG-TEMPLATEVARIABLE}: {HELLO-TEMPLATE}</p>
        {TEMPLATE-CONTENT}

        <footer>
            <!-- BEGIN LANGS -->
            <a href="{LANG-LINK}">{LANG-TEXT}</a>
            <!-- END LANGS -->
        </footer>
    </body>
    <script src="templates/common/scripts.js"></script>
    <script>
        {TEMPLATE-JAVASCRIPT}
    </script>
</html>
