<!doctype html>
<html lang="{TEMPLATE-LANG}">
    <head>
        <meta charset="utf-8">
        <title>{TEMPLATE-TITLE}</title>
        <link rel="stylesheet" href="templates/common/styles.css">
    </head>
    <body>
        <header>

        </header>
    <main>
        {TEMPLATE-CONTENT}
    </main>
    <footer>
        <p>{TEMPLATE-COPY}</p>
        <p>
            <!-- BEGIN LANGS -->
            <a href="{LANG-LINK}">{LANG-TEXT}</a>
            <!-- END LANGS -->
        </p>
    </footer>
</body>
<script src="templates/common/scripts.js" ></script>
</html>
