<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{TEMPLATE-TITLE}</title>
        <!--[if lt IE 9]><script src=http://html5shim.googlecode.com/svn/trunk/html5.js></script><![endif]-->
        <link rel="stylesheet" href="templates/error/css/template.css">
        <style>
            {TEMPLATE-CSS}
        </style>
    </head>
    <body>
        {TEMPLATE-CONTENT}
    </body>
    <script src="templates/main/javascript/mootools.js"></script>
    <script src="templates/main/javascript/mootools-more.js"></script>
    <script src="templates/main/javascript/MooDialog.js"></script>
    <script src="templates/main/javascript/MooDialog.Alert.js"></script>
    <script src="templates/main/javascript/MooDialog.Fx.js"></script>
    <script src="templates/main/javascript/Overlay.js"></script>
    <script src="templates/main/javascript/template.js"></script>
    <script>
        {TEMPLATE-JAVASCRIPT}
    </script>
</html>
