<form name="{NEWEMAIL-ID}" method="post" action="{NEWEMAIL-ACTION}">
    <fieldset>
        <legend>{LANG-PASSWORD}</legend>
        <label>
            {LANG-PASSWORD}:
        </label>
        <input id="systemuser-currentpassword" type="password" title="{LANG-PASSWORD}"  name="{NEWEMAIL-NAME-SYSTEMUSER-PASSWORD}" required="required" maxlength="2048" data-langempty="{LANG-EMPTYNEWPASSWORD}"/>
    </fieldset>
    <input type="hidden" name="{NEWEMAIL-NAME-TOKEN}" value="{NEWEMAIL-VALUE-TOKEN}" />
    <button type="submit">{LANG-SUBMIT}</button>
</form>
