<form name="{FORGOT-ID}" method="post" action="{FORGOT-ACTION}">
    <fieldset>
        <legend>{LANG-FORGOTFORM}</legend>
        <label>
            {LANG-EMAIL}:
        </label>
        <input type="email" title="{LANG-EMAIL}" id="{FORGOT-NAME-SYSTEMUSER-EMAIL}" name="{FORGOT-NAME-SYSTEMUSER-EMAIL}" required="required" maxlength="32" />
    </fieldset>
    <input type="hidden" name="{FORGOT-NAME-FORGOTTOKEN}" value="{FORGOT-VALUE-FORGOTTOKEN}" />
    <button id="forgotButton" type="submit">{LANG-VALIDATE}</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputEmail = document.getElementById('{FORGOT-NAME-SYSTEMUSER-EMAIL}');
        if (inputEmail.required) {
            inputEmail.addEventListener('blur', checkEmpty);
        }
    });
</script>