<form name="{LOGIN-ID}" method="post" action="{LOGIN-ACTION}">
    <fieldset>
        <legend>{LANG-LOGINFORM}</legend>
        <label>
            {LANG-EMAIL}:
        </label>
        <input id="systemuser-email" type="email" title="{LANG-EMAIL}" name="{LOGIN-NAME-SYSTEMUSER-EMAIL}" required="required" maxlength="32" />
        <label>
            {LANG-PASSWORD}:
        </label>
        <input id="systemuser-password" type="password" title="{LANG-PASSWORD}"  name="{LOGIN-NAME-SYSTEMUSER-PASSWORD}" required="required" maxlength="2048" />
    </fieldset>
    <input type="hidden" name="{LOGIN-NAME-LOGINTOKEN}" value="{LOGIN-VALUE-LOGINTOKEN}" />
    <button type="submit">{LANG-LOGIN}</button> 
    <a href="{LINK-FORGOT}">{LANG-FORGOT}</a>
</form>