<form name="{NEWPASSWORD-ID}" method="post" action="{NEWPASSWORD-ACTION}">
    <fieldset>
        <legend>{LANG-NEWPASSWORD}</legend>
        <label>
            {LANG-NEWPASSWORD}:
        </label>
        <input id="systemuser-newpassword" type="password" title="{LANG-NEWPASSWORD}"  name="{NEWPASSWORD-NAME-SYSTEMUSER-PASSWORD}" required="required" maxlength="2048" data-langempty="{LANG-EMPTYNEWPASSWORD}"/>
        <label>
            {LANG-CONFIRMPASSWORD}:
        </label>
        <input id="systemuser-confirmnewpassword" type="password" title="{LANG-CONFIRMPASSWORD}"  name="{NEWPASSWORD-NAME-CONFIRMPASSWORD}" required="required" maxlength="2048" data-langempty="{LANG-EMPTYCONFIRMPASSWORD}" data-langnotequal="{LANG-NOTEQUALPASSWORD}"/>
    </fieldset>
    <input type="hidden" name="{NEWPASSWORD-NAME-TOKEN}" value="{NEWPASSWORD-VALUE-TOKEN}" />
    <button type="submit">{LANG-SUBMIT}</button>
</form>
