<form name="{NEWPASSWORD-ID}" method="post" action="{NEWPASSWORD-ACTION}">
    <fieldset>
        <legend>{LANG-NEWPASSWORD}</legend>
        <label>
            {LANG-NEWPASSWORD}:
        </label>
        <input type="password" title="{LANG-NEWPASSWORD}" id="{NEWPASSWORD-NAME-SYSTEMUSER-PASSWORD}" name="{NEWPASSWORD-NAME-SYSTEMUSER-PASSWORD}" required="required" maxlength="2048" data-langempty="{LANG-EMPTYNEWPASSWORD}"/>
        <label>
            {LANG-CONFIRMPASSWORD}:
        </label>
        <input type="password" title="{LANG-CONFIRMPASSWORD}" id="{NEWPASSWORD-NAME-CONFIRMPASSWORD}" name="{NEWPASSWORD-NAME-CONFIRMPASSWORD}" required="required" maxlength="2048" data-langempty="{LANG-EMPTYCONFIRMPASSWORD}" data-langnotequal="{LANG-NOTEQUALPASSWORD}"/>
    </fieldset>
    <input type="hidden" name="{NEWPASSWORD-NAME-TOKEN}" value="{NEWPASSWORD-VALUE-TOKEN}" />
    <button type="submit">{LANG-SUBMIT}</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputPassword = document.getElementById('{NEWPASSWORD-NAME-SYSTEMUSER-PASSWORD}');
        if (inputPassword.required) {
            inputPassword.addEventListener('blur', checkEmpty);
            inputPassword.addEventListener('blur', function(){checkEqual(inputPassword2, inputPassword)});
        }
        var inputPassword2 = document.getElementById('{NEWPASSWORD-NAME-CONFIRMPASSWORD}');
        if (inputPassword2.required) {
            inputPassword2.addEventListener('blur', checkEmpty);
            inputPassword2.addEventListener('blur', function(){checkEqual(inputPassword2, inputPassword)});
        }
    });
</script>
