<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{TEMPLATE-TITLE}</title>
        <!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
        <link rel="stylesheet" href="templates/error/css/template.css">
        <link rel="stylesheet" href="templates/main/css/template.css">
        <link rel="stylesheet" href="{BICUBIC-CSS}">
        <style>
            {TEMPLATE-CSS} 
        </style>
    </head>
    <body>
    <nav id="bicubic-bar"></nav>
        <div id="layout-width">
            <header>
                <a href="http://bicubic.cl/"><img src="templates/main/images/bicubic.png"></a>
                <h1><a href=""><img src="templates/main/images/logo.png" alt="YoFacturo!"></a></h1>
            </header>
            {TEMPLATE-CONTENT}
        </div>
    <script src="templates/main/javascript/template.js"></script>
    <script src="templates/main/javascript/mootools.js"></script>
    <script src="templates/main/javascript/mootools-more.js"></script>
    <script src="templates/main/javascript/MooDialog.js"></script>
    <script src="templates/main/javascript/MooDialog.Alert.js"></script>
    <script src="templates/main/javascript/MooDialog.Fx.js"></script>
    <script src="templates/main/javascript/Overlay.js"></script>
    <script src="{BICUBIC-JAVASCRIPT}"></script>
    <script>
        {TEMPLATE-JAVASCRIPT}
    </script>
    </body>
</html>