<h1>{LANG-LOGIN}</h1>
<form id="loginForm" name="{LOGIN-ID}" method="post" autocomplete="off" action="{LOGIN-ACTION}">
    <input type="text" title="{LANG-USERNAME}" name="{LOGIN-PARAM-SYSTEMUSER-USERNAME}" class="required" maxlength="32">
    <input type="password" title="{LANG-PASSWORD}" type="password" name="{LOGIN-PARAM-SYSTEMUSER-PASSWORD}" class="required" maxlength="32">
    <input type="hidden" name="{LOGIN-PARAM-LOGINTOKEN}" value="{LOGIN-DATA-LOGINTOKEN}">
    <button id="loginButton" type="button" class="text">{LANG-LOGIN}</button>
</form>