<form name="{FORM-ID}" method="post" action="{FORM-ACTION}">
    <fieldset>
        <legend>Editar</legend>
        <div>
            <label>Id:</label>
            <input readonly="readonly" type="text" name="{FORM-PARAM-APP-ID}" value="{FORM-DATA-APP-ID}" />
        </div>
        <div>
            <label>Nombre:</label>
            <input type="text" name="{FORM-PARAM-APP-NAME}" value="{FORM-DATA-APP-NAME}" maxlength="64" />
            <span class="hint">* debe ingresar el nombre</span>
        </div>
        <div>
            <label>Company:</label>
            <input type="text" name="{FORM-PARAM-APP-COMPANY}" value="{FORM-DATA-APP-COMPANY}" maxlength="64" />
            <span class="hint">* debe ingresar company</span>
        </div>
        <div>
            <label>Protocol:</label>
            <input type="text" name="{FORM-PARAM-APP-PROTOCOL}" value="{FORM-DATA-APP-PROTOCOL}" maxlength="64" />
            <span class="hint">* debe ingresar protocol</span>
        </div>
    </fieldset>
    <button type="button" id="formsubmit">{FORM-BUTTON-SUBMIT}</button>
</form>