<form name="{SIGNUP-ID}" method="post" action="{SIGNUP-ACTION}">
    <fieldset>
        <legend>{LANG-SIGNUP}</legend>
        <label>
            {LANG-NAME}:
        </label>
        <input type="name" title="{LANG-NAME}" id="{SIGNUP-NAME-SYSTEMUSER-NAME}" name="{SIGNUP-NAME-SYSTEMUSER-NAME}" required="required" maxlength="256" data-langempty="{LANG-EMPTYNAME}"/>
        <label>
            {LANG-EMAIL}:
        </label>
        <input type="email" title="{LANG-EMAIL}" id="{SIGNUP-NAME-SYSTEMUSER-EMAIL}" name="{SIGNUP-NAME-SYSTEMUSER-EMAIL}" required="required" maxlength="32" data-langempty="{LANG-EMPTYEMAIL}"/>
        <label>
            {LANG-PASSWORD}:
        </label>
        <input type="password" title="{LANG-PASSWORD}" id="{SIGNUP-NAME-SYSTEMUSER-PASSWORD}" name="{SIGNUP-NAME-SYSTEMUSER-PASSWORD}" required="required" maxlength="32" data-langempty="{LANG-EMPTYPASSWORD}"/>
        <label>
            {LANG-CONFIRMPASSWORD}:
        </label>
        <input type="password" title="{LANG-CONFIRMPASSWORD}" id="{SIGNUP-NAME-CONFIRMPASSWORD}" name="{SIGNUP-NAME-CONFIRMPASSWORD}" required="required" maxlength="32" data-langempty="{LANG-EMPTYCONFIRMPASSWORD}" data-langnotequal="{LANG-NOTEQUALPASSWORD}"/>
        <label>
            {LANG-HUMAN}:
        </label>
        {HTML-RECAPTCHA}
    </fieldset>
    <input type="hidden" name="{LOGIN-NAME-LOGINTOKEN}" value="{LOGIN-VALUE-LOGINTOKEN}" />
    <button id="loginButton" type="submit">{LANG-SIGNUP}</button> 
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputName = document.getElementById('{SIGNUP-NAME-SYSTEMUSER-NAME}');
        if (inputName.required) {
            inputName.addEventListener('blur', checkEmpty);
        }
        var inputEmail = document.getElementById('{SIGNUP-NAME-SYSTEMUSER-EMAIL}');
        if (inputEmail.required) {
            inputEmail.addEventListener('blur', checkEmpty);
        }
        var inputPassword = document.getElementById('{SIGNUP-NAME-SYSTEMUSER-PASSWORD}');
        if (inputPassword.required) {
            inputPassword.addEventListener('blur', checkEmpty);
            inputPassword.addEventListener('blur', function(){checkEqual(inputPassword2, inputPassword)});
        }
        var inputPassword2 = document.getElementById('{SIGNUP-NAME-CONFIRMPASSWORD}');
        if (inputPassword2.required) {
            inputPassword2.addEventListener('blur', checkEmpty);
            inputPassword2.addEventListener('blur', function(){checkEqual(inputPassword2, inputPassword)});
        }
    });
</script>